.wrapper {
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }
}

.table-name {
    width: 56px;
    height: 56px;
}

.payment-btn {
    background: var(--green-color);
    color: #fff;
    font-size: 1.2rem;
}